    @import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    * {
        padding: 0;
        margin: 0;
    }
    
    #song {
        display: block;
        margin: auto;
        width: 60%;
        margin-top: 20px;
        border: 10px;
        border-color: aliceblue;
        border-style: double;
    }
    
    body {
        background-color: rgba(0, 0, 0, 0.911);
    }
    
    h1 {
        color: white;
        text-decoration: underline;
    }
    
    #logo {
        margin-top: 50px;
    }
    
    #logo img {
        display: block;
        margin: auto;
        width: 250px;
        height: auto;
        border-radius: 30px;
        background-image: url(../img/bastilleLogo.jpg);
        background-size: cover;
        background-position: center;
        border: 10px;
        border-color: white;
        border-style: ridge;
    }
    
    #logo h1 {
        color: goldenrod;
        font-family: 'Hammersmith One', sans-serif;
        text-align: center;
        padding-top: 10px;
    }
    
    #lyrics {
        margin-top: 20px;
    }
    
    #lyrics p,
    pre {
        color: whitesmoke;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    
    #lyrics h2 {
        color: goldenrod;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    
    pre {
        padding-top: 20px;
    }